<h2>講師登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "teachers/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード再入力" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :last_name, "名字" %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name, "名前" %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name_kana, "名字(カナ)" %><br />
    <%= f.text_field :last_name_kana %>
  </div>
  <div class="field">
    <%= f.label :first_name_kana, "名前(カナ)" %><br />
    <%= f.text_field :first_name_kana %>
  </div>
  <div class="field">
    <%= f.label :subjects, "担当科目" %><br />
    <%= f.text_area :subjects %>
  </div>
  <div class="field">
    <%= f.label :profile, "プロフィール" %><br />
    <%= f.text_area :profile %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>

<%= render "teachers/shared/links" %>
