<%= link_to '社員用登録', new_employee_registration_path %>
<%= link_to '社員用ログイン', new_employee_session_path %>
<%= link_to '社員用ログアウト', destroy_employee_session_path, method: :delete %>
<%= link_to '講師登録', new_teacher_registration_path %>
<%= link_to '講師ログイン', new_teacher_session_path %>
<%= link_to '講師ログアウト', destroy_teacher_session_path, method: :delete %>
<%= link_to '生徒登録', new_student_registration_path %>
<%= link_to '生徒ログイン', new_student_session_path %>
<%= link_to '生徒ログアウト', destroy_student_session_path, method: :delete %>

<div>
  <%= link_to '教材登録ページへ', study_materials_path %>
</div>
<div>
  <%= link_to '新規カルテ作成', new_report_path %>
</div>
<div>
  <%= form_with(url: search_reports_path, local: true, method: :get, class: "search-form") do |f| %>
    <%= f.text_field :keyword, placeholder: "過去のカルテを検索する", class: "search-input" %>
    <%= f.submit "検索", class: "search-btn" %>
  <% end %>
</div>
<div>
  <%= render partial: "report", collection: @reports %>
</div>